.container {
    width: 100vw;
    height: calc(100vh - var(--mat-toolbar-standard-height, 64px));
}

.sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.sidenav {
    padding: 20px;
}