.messenger-container {
    display: flex;
    flex-direction: column;
}

.messenger-content {
    display: flex;
}

.sidenav-area {
    border-radius: 30px;
    background-color: #ffffff;
}

.main-area {
    border-radius: 30px;
    background-color: #ffffff;
}

.thread-area {
    border-radius: 30px;
    background-color: #ffffff;
}