<div class="messenger-container">

    <app-header></app-header>

    <mat-grid-list cols="8" rowHeight="200px" class="messenger-content">

        <mat-grid-tile [colspan]="2" class="sidenav-area">
            <app-sidenav></app-sidenav>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="4" class="main-area">
            <app-main></app-main>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" class="thread-area">
            <app-thread></app-thread>
        </mat-grid-tile>

    </mat-grid-list>

</div>