.sidenav-container {
    height: calc(100% - 64px);
    padding: 32px;
    background-color: #ffffff;
    border-radius: 30px;
}

mat-expansion-panel {
    background-color: #ffffff !important;
    box-shadow: none !important;
}

mat-expansion-panel-header {
    &:hover {
        background-color: unset !important;
    }
}